body {
    background-color: #333333;
    text-align: center;
    margin-top: 0;
    color: #ffffff;
    line-height: 2;
}


a :link, a:visited , a:active, a:hover, a:active{
    color: skyblue;
}

h2,h3,h4{
  font-size: 25pt;
  margin-top: 80px;
}

ul {
    display: flex;
    justify-content: center;
}
li {
    list-style: none;
}
li:nth-child(2) {
    margin: 0 30px;
}

p.icon img {
    border-radius: 20px;
}

.container{
  text-align: center;
	max-width: 100%;
  font-size: 50pt;
}

.text{
	width: 100%;
	opacity: 0;
	animation: fadein-anim 10s linear forwards;
  animation-timing-function: ease-out;
  font-family: "Arial Black";
}


@keyframes fadein-anim {
	100% {
		opacity: 1;
	}
}