@font-face {
  font-family: "dentoo-lt";
  src: url("font/dentoo-lt.ttf") format("truetype");
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #111111;
  color: whitesmoke;
  text-align: center;
  overflow-x: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

#logocontainer {
  position: relative;
  top: 0px;
  left: 0px;
  background-color: #111111;
  width: 100%;
  height: 100vh;
}

#logotextcontainer {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:link {
  color: azure;
}
a:visited {
  color: beige;
}
a:hover {
  color: #9daada;
}
a:active {
  color: #77aa77;
}

h1 {
  font-size: 25pt;
  margin-top: 5%;
  padding-top: 5%;
}

.what {
  padding-top: 5%;
}

.s1 {
  text-align: left;
  margin-right: auto;
  margin-left: 0px;
}
.s2 {
  text-align: right;
  margin-left: auto;
  margin-right: 0px;
}
.t1 {
  margin-right: auto;
}
.t2 {
  margin-left: auto;
}

li {
  list-style: none;
}
li:nth-child(2) {
  margin: 0 30px;
}

/* p {
  margin-left: 10%;
  margin-right: 10%;
} */

.icons img {
  border-radius: 20px;
  text-align: center;
}

.text {
  width: 100%;
  opacity: 0;
  animation: fadein-anim 10s linear forwards;
  animation-timing-function: ease-out;
  font-family: "Arial Black";
}

table {
  margin-top: 10pt;
  text-align: center;
  background-color: #222222;
  width: 70%;
}
table th {
  /*table内のthに対して*/
  padding: 10px;
  /*上下左右10pxずつ*/
}
table td {
  /*table内のtdに対して*/
  padding: 5px 10px;
  /*上下3pxで左右10px*/
}

.list {
  margin-top: 0px;
}

.presentation {
  scroll-margin-bottom: 10px;
}

.s1 .video-wrap {
  text-align: left;
  margin-left: 0px;
  margin-right: auto;
  max-width: calc(75%);
}

.s2 .video-wrap {
  text-align: right;
  margin-left: auto;
  margin-right: 0px;
  max-width: calc(75%);
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.s1 .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.s2 .video iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@keyframes fadein-anim {
  100% {
    opacity: 1;
  }
}
.s1 .video-wrap {
  text-align: left;
  margin-left: 0px;
  margin-right: auto;
  max-width: calc(75%);
}

.s2 .video-wrap {
  text-align: right;
  margin-left: auto;
  margin-right: 0px;
  max-width: calc(75%);
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.s1 .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.s2 .video iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.logocontainer {
  font-size: 50px;
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  width: fit-content;
  height: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logoitem {
  width: fit-content;
  height: fit-content;
  opacity: 0;
}

.logoitemtext {
  font-family: "dentoo-lt", sans-serif;
  color: white;
  font-size: 100px;
  width: 100%;
  animation: delatelogo 0s 3.3s;
  height: fit-content;
}

#logoitemwhole {
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: gradientAnime 5s linear 0s infinite;
}

#logoitemtextwhole {
  opacity: 0;
  color: blue;
  font-family: "dentoo-lt", sans-serif;
  font-size: 100px;
  width: 100%;
  animation: displaylogo 0.5s linear 3.3s forwards;
  background: linear-gradient(
    to right,
    hsla(0, 100%, 50%, 1),
    hsla(20, 100%, 50%, 1),
    hsla(40, 100%, 50%, 1),
    hsla(60, 100%, 50%, 1),
    hsla(80, 100%, 50%, 1),
    hsla(100, 100%, 50%, 1),
    hsla(120, 100%, 50%, 1),
    hsla(140, 100%, 50%, 1),
    hsla(160, 100%, 50%, 1),
    hsla(180, 100%, 50%, 1),
    hsla(200, 100%, 50%, 1),
    hsla(220, 100%, 50%, 1),
    hsla(240, 100%, 50%, 1),
    hsla(260, 100%, 50%, 1),
    hsla(280, 100%, 50%, 1),
    hsla(300, 100%, 50%, 1),
    hsla(320, 100%, 50%, 1),
    hsla(340, 100%, 50%, 1),
    hsla(360, 100%, 50%, 1)
  );
  -webkit-background-clip: text;
  color: transparent;
}

#logoitem1 {
  animation: fadeInAnime1 0.5s ease-in 0.6s forwards;
}

#logoitem2 {
  animation: fadeInAnime2 0.5s ease-in 1.4s forwards;
}

#logoitem3 {
  animation: fadeInAnime3 0.5s ease-in 0s forwards;
}

#logoitem4 {
  animation: fadeInAnime4 0.5s ease-in 0.8s forwards;
}

#logoitem5 {
  animation: fadeInAnime5 0.5s ease-in 0.4s forwards;
}

#logoitem6 {
  animation: fadeInAnime6 0.5s ease-in 1.2s forwards;
}

#logoitem7 {
  animation: fadeInAnime7 1s linear 1.6s forwards;
}

#logoitem8 {
  animation: fadeInAnime8 0.5s ease-in 0.2s forwards;
}

#logoitem9 {
  animation: fadeInAnime9 0.5s ease-in 1s forwards;
}

@keyframes fadeInAnime1 {
  0% {
    transform: translateY(400px) translateX(400px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnime2 {
  0% {
    transform: translateY(-400px) translateX(-200px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnime3 {
  0% {
    transform: translateY(0px) translateX(300px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnime4 {
  0% {
    transform: translateY(300px) translateX(-400px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnime5 {
  0% {
    transform: translateY(-400px) translateX(-100px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnime6 {
  0% {
    transform: translateY(200px) translateX(300px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnime7 {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnime8 {
  0% {
    transform: translateY(-400px) translateX(400px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnime9 {
  0% {
    transform: translateY(-100px) translateX(400px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes usebackgroundcolor {
  0% {
  }

  100% {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}
@keyframes gradientAnime {
  0% {
    filter: hue-rotate(0deg);
  }

  10% {
    filter: hue-rotate(32deg);
  }

  20% {
    filter: hue-rotate(72deg);
  }

  30% {
    filter: hue-rotate(108deg);
  }

  40% {
    filter: hue-rotate(144deg);
  }

  50% {
    filter: hue-rotate(180deg);
  }

  60% {
    filter: hue-rotate(216deg);
  }

  70% {
    filter: hue-rotate(252deg);
  }

  80% {
    filter: hue-rotate(288deg);
  }

  90% {
    filter: hue-rotate(324deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}
@keyframes delatelogo {
  0% {
  }
  100% {
    color: rgba(255, 255, 255, 0);
  }
}
@keyframes displaylogo {
  0% {
  }

  100% {
    opacity: 1;
  }
}

/* fadein */
.up {
  opacity: 0;
  transition: all 1.5s ease;
}
.up.show {
  opacity: 1;
  transform: none;
}
.op {
  transform: translate(0, 100px);
}
/* トップへ戻るボタン */
.page_top_btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
  padding: 0.7em;
  text-align: center;
  background: rgb(255, 0, 0);
  color: #fff;
  transition: 0.3s0;
  border-radius: 25px;
}

/* マウスオーバー時 */
.page_top_btn:hover {
  background: rgb(255, 0, 0, 0.8);
  color: rgb(255, 255, 255, 0.8);
  border-radius: 25px;
}
/* CSSコード */
html {
  scroll-behavior: smooth;
}
